
/* Main layout */

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}

/* Doctor view */
.doctor-view .content {
    display: flex;
}

.doctor-view .doctorGrid {
    flex: 2;
}

.doctor-view .doctor-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

/* Patient view */
.patient-view .content {
    display: flex;
}

.patient-view .patientGrid {
    flex: 2;
}

.patient-view .patient-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

/* Recipe view */
.recipe-view .content {
    display: flex;
}

.recipe-view .recipeGrid {
    flex: 2;
}

.recipe-view .recipe-form {
    flex: 1;
    padding: var(--lumo-space-m);
}
